.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  position: relative;
  align-items: center;
  height: 100vh;
}
.h1 {
  font-size: 2em;
  font-weight: 500;
}
.photo_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_arrow {
  width: 0;
  height: 0;
  border: none;
  border-top: 70px solid transparent; /* Левая граница */
  border-bottom: 70px solid transparent; /* Правая граница */
  border-right: 30px solid gray;
  background-color: inherit;
  margin-right: 30px;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.2s;
}
.left_arrow:hover {
  opacity: 1;
  border-right: 30px solid rgba(235, 20, 0, 1);
  transition: 0.2s;
}
.left_arrow:active {
  border-right: 30px solid rgba(235, 20, 0, 1);
  opacity: 0.6;
  transition: 0.2s;
}

.left_far_photo {
  display: block;
  width: 160px;
  height: 500px;
  border-left: 20px solid rgba(200, 200, 200, 1);
  border-top: 20px solid rgba(200, 200, 200, 1);
  border-bottom: 20px solid rgba(200, 200, 200, 1);
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(130, 130, 130, 0.6);
}
.left_close_photo {
  display: block;
  width: 160px;
  height: 600px;
  border-left: 20px solid rgba(200, 200, 200, 1);
  border-top: 20px solid rgba(200, 200, 200, 1);
  border-bottom: 20px solid rgba(200, 200, 200, 1);
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(130, 130, 130, 0.6);
}
.mid_wrapper {
  position: relative;
  cursor: pointer;
}

.mid_photo {
  display: block;
  width: 900px;
  height: 700px;
  border: 20px solid rgba(200, 200, 200, 1);
  object-fit: cover;
  box-shadow: 0 0 20px 0 rgba(130, 130, 130, 0.6);
}
.folder_btn {
  position: absolute;
  top: 100px;
  left: 100px;
}
.folder_img {
}
.folder_name {
}

.right_close_photo {
  width: 160px;
  height: 600px;
  border-right: 20px solid rgba(200, 200, 200, 1);
  border-top: 20px solid rgba(200, 200, 200, 1);
  border-bottom: 20px solid rgba(200, 200, 200, 1);
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(130, 130, 130, 0.6);
}

.right_far_photo {
  width: 160px;
  height: 500px;
  border-right: 20px solid rgba(200, 200, 200, 1);
  border-top: 20px solid rgba(200, 200, 200, 1);
  border-bottom: 20px solid rgba(200, 200, 200, 1);
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(130, 130, 130, 0.6);
}

.right_arrow {
  width: 0;
  height: 0;
  border: none;
  border-top: 70px solid transparent; /* Левая граница */
  border-bottom: 70px solid transparent; /* Правая граница */
  border-left: 30px solid gray;
  background-color: inherit;
  margin-left: 30px;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.2s;
}
.right_arrow:hover {
  opacity: 1;
  border-left: 30px solid rgba(235, 20, 0, 1);
  transition: 0.2s;
}
.right_arrow:active {
  border-left: 30px solid rgba(235, 20, 0, 1);
  opacity: 0.6;
  transition: 0.2s;
}

.pagination {
  display: flex;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
