.active {
  width: 20px;
  height: 20px;
  background-color: rgba(235, 20, 0, 1);
  border: 3px solid grey;
  cursor: pointer;
}
.active:hover {
  transform: scale(1.15);
}
.inactive {
  width: 20px;
  height: 20px;
  background-color: black;
  border: 3px solid grey;
  cursor: pointer;
}
.inactive:hover {
  transform: scale(1.15);
}
